.btn-red-bold {
    background: linear-gradient(90deg, #ea6544 0%, #d12a1e 100%);
    border-radius: 6px;
    color: #fff !important;
    text-align: center;
    padding: 16px 30px;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
}

.btn-join{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-btn{
    width: 311px;
}

.last-banner img{
    max-width: 1439px;
    max-height: 335px;
    margin-top: -260px;
}