.vd-size{
    max-width: 1440px;
    height: 782px;
}

.vd-size .video-background{
    height: 100%;
    background-image: url(https://cungduongyeuthuong.dai-ichi-life.com.vn/dl/background_video.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}