h1{
    text-align: center;
    font-size: 30px;
    color: red;
    margin-bottom: 19px;
}

p{
    text-align: justify;
    padding-top: 8px;
    font-size: 18px;
    color: black;
}

.red{
    color: red;
}
.green{
    color: #2ECE3D !important;
}

.img-symbol{
    max-width: 245px;
    margin: 50px 0;
}

// dung nhieu
.text-center{
    text-align: center;
}

// // css progress-donate


// .price-donate{
//     display: flex;
//     justify-content: center;
// }

// .size-card{
//     width: 370px;
// }

// .item{
//     padding: 10px;
//     border: 1px solid #DEDEDE;
//     border-radius: 12px;
// }

// .wrap-item-top{
//     display: flex;
//     align-items: center;
// }

// .wrap-img img{
//     width: 76px;
// }

// .text-left{
//     padding-left: 10px;
//     text-align: left;
// }

// .title{
//     color: #727272;
//     font-size: 13px;
// }

// .progress-goal{
//     padding-top: 10px;
// }

// .item .progress-goal{
//     display: inline-block;
//     padding-top: 10px;
//     width: 100%;
// }

// .item .progress-goal p {
//     font-size: 13px;
//     line-height: 25px;
//     color: #727272;
//     text-align: center;
// }
